@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;600&display=swap');


body{
    padding: 20px 100px;
    font-family: kanit;
    background-color: rgb(255, 251, 246);

}

header{
    display: flex;
    justify-content: end;
    gap: 30px;
}
@media(max-width : 900px){
    header{
        display: flex;
        justify-content: space-around;
        gap: 30px;
    }
}

a{
    text-decoration: none;
    font-size: 20px;
}


.introducebox{
        display: flex;
        justify-content: center;
        align-items: center;      
        margin-top: 70px;
        gap: 40px;
    }

@media(max-width : 900px){
    .introducebox{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 50px;       
    }
}

.introducebox img{
    width: 350px;
    height: 200px;
}

.intro-text{
    max-width:500px ;
}

.intro-text button{
    background-color: chocolate;
    padding: 10px;
    color: white;
    font-family: kanit;
}

.newsbox{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    background-color: rgb(197, 255, 236);   
}

.head-newsbox{
    display: flex;
    justify-content: space-between; 
    align-items: baseline;
    padding: 0 50px;
}

.head-newsbox p{
    font-size: 20px;
}

@media(max-width : 900px){
    .head-newsbox{
        display: flex;
        justify-content: center; 
        align-items: baseline;
    }
}

.container-newsbox{
    display: flex;
    justify-content: center;
    gap: 40px;
}

@media(max-width : 900px){
    .container-newsbox{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}

.head-newsbox a{
    margin: 10px;
}

@media(max-width : 900px){
    .head-newsbox a{
        display: none;
    }
}    


.newsbox1{
    display: flex;
    grid-row: 2/3;
    grid-column: 1/2;
    flex-direction: column;
    width: 400px;
    padding: 40px;
    margin: 10px;
    background-color: aliceblue;
}
.newsbox2{
    display: flex;
    grid-row: 2/3;
    grid-column: 2/3; 
    flex-direction: column;
    width: 400px;
    padding: 40px;
    margin: 10px;
    background-color: aliceblue;
}

.date-type{
    display: flex;
    justify-content: space-around;
}

.container-feature{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    width: 650px;
    gap: 30px;
}

.container-feature >p{
    font-size: 25px;
    font-weight: 100;
}

.feature-box{
    display: flex;
    align-items: center;
    gap: 40px;
}

.feature-box img{
    width: 250px;
    height: 200px;
}

.feature-textbox h4{
    font-size: 26px;
    margin: 0px;
}

.year-dashboard{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 5px;
}

.year{
    color: aliceblue;
    background-color: rgb(3, 3, 37);
    padding: 5px 10px;
    border-radius: 10px;
}
.dashboard{
    color: rgb(158, 158, 158);
    margin-left: 20px;
    font-size: 20px;
    font-weight: 100;
}
.feature-textbox p{
    font-size: 14px;
}